<main class="bg-green-medium w-[100vw] h-[100vh]">
  <div class="m-auto h-full grid grid-cols-12">
    <div class="hidden lg:flex lg:col-start-1 lg:col-end-6 items-center justify-end relative">
      <img src="business-report.png" class="absolute -right-10 md:-right-20">
    </div>
    <div class="bg-beige col-start-1 col-end-13 lg:col-start-6 grid grid-rows-[1fr_auto_1fr] gap-6">
      <header class="flex flex-col justify-end items-center">
        <h1 class="title-xl">POUPA</h1>
        <p class="subtitle max-w-[12.5rem]">Entre e prepare-se para poupar</p>
      </header>
      <form class="flex flex-col justify-center items-center mx-10 gap-4">
        <div class="form-group max-w-[320px]">
          <label for="email" class="form-label">Email:</label>
          <input [(ngModel)]="email" type="email" id="email" name="email" class="form-control">
        </div>
        <div class="form-group max-w-[320px]">
          <label for="password" class="form-label">Senha:</label>
          <input [(ngModel)]="senha" type="password" id="password" name="password" class="form-control">
        </div>
        <p class="text-red-800 font-semibold font-poppins">{{ mensagemErro }}</p>
      </form>
      <div class="flex flex-col justify-start items-center mt-5 gap-2">
        <button (click)="entrar()" class="btn bg-orange">Entrar</button>
        <p class="text-xl font-anton text-green-light">OU</p>
        <button (click)="redirecionarCadastro()" class="btn bg-yellow">Cadastre-se</button>
      </div>
    </div>
  </div>
</main>
