<main class="bg-green-special w-full h-full">
  <div class="m-auto h-full grid grid-cols-12">
    <div class="hidden lg:flex lg:col-start-1 lg:col-end-6 items-center justify-end relative">
      <img src="business-report.png" class="absolute -right-10 md:-right-20">
    </div>
    <div class="bg-beige-special col-start-1 col-end-13 lg:col-start-6 grid grid-rows-[1fr_auto_1fr] gap-6">
      <header class="flex flex-col justify-end items-center">
        <h1 class="font-anton text-orange-special text-5xl">POUPA</h1>
        <p class="font-anton text-green-special-50 text-2xl mt-6 max-w-[12.5rem] text-center">Entre e prepare-se para poupar</p>
      </header>
      <form class="flex flex-col justify-center items-center mx-10">
        <div class="flex flex-col gap-1 w-full max-w-[320px]">
          <label for="email" class="font-poppins text-orange-special text-xl font-bold">Email:</label>
          <input type="email" id="email" name="email" class="h-12 w-full rounded-lg font-roboto text-gray-800 text-lg text-center focus:outline-[var(--text-green-special-50)] focus:outline-4">
        </div>
        <div class="flex flex-col gap-1 w-full max-w-[320px] mt-4">
          <label for="password" class="font-poppins text-orange-special text-xl font-bold">Senha:</label>
          <input type="password" id="password" name="password" class="h-12 w-full rounded-lg font-roboto text-gray-800 text-lg text-center focus:outline-[var(--text-green-special-50)] focus:outline-4">
        </div>
      </form>
      <div class="flex flex-col justify-start items-center mt-5 gap-2">
        <button class="bg-orange-special w-full max-w-[160px] text-lg font-poppins font-semibold text-white py-2 rounded-bl-xl">Entrar</button>
        <p class="text-xl font-anton text-green-special-50">OU</p>
        <button class="bg-yellow-special w-full max-w-[160px] text-lg font-poppins font-semibold text-white py-2 rounded-bl-xl">Cadastre-se</button>
      </div>
    </div>
  </div>
</main>
