main {
  // background-color: var(--c-green);
  /* grid-template-areas: ". content"; */
  /* display: grid;
  grid-template-columns: 3fr 2fr; */
  width: 100vw;
  height: 100vh;
}

div.content {
  /* grid-area: content; */
  /* align-items: center;
  display: grid;
  grid-template-areas: "header" "form" "actions";
  grid-template-rows: 1fr auto 1fr;
  flex-direction: column;
  justify-content: center; */
  // background-color: var(--c-beige);
}
/* 
header.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: end;
}

form.form {
  grid-area: form;
}

div.actions {
  grid-area: actions;
  display: flex;
  flex-direction: column;
  align-items: start;
} */
