<h1 class="font-anton text-4xl text-green-medium tracking-wider">Dashboard</h1>
<div class="grid sm:grid-cols-6 sm:grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] items-center gap-6 md:gap-8 mt-6">
  <div class="h-full bg-white sm:col-span-2 px-6 py-4 rounded-2xl text-orange font-poppins flex flex-col justify-center gap-1">
    <h2 class="text-xl">Saldo Atual</h2>
    <span class="text-xl font-bold">R$ {{ formataValor(definirSaldoTotal(listaTransacoes)) }}</span>
  </div>
  <div class="h-full bg-white sm:col-span-2 px-6 py-4 rounded-2xl text-orange font-poppins flex items-center">
    <div class="flex-auto">
      <h2 class="text-xl">Total de Despesas</h2>
      <span class="text-xl font-bold">R$ {{ formataValor(definirTotalDespesa(listaTransacoes)) }}</span>
    </div>
    <img src="seta-para-a-direita (1).png" class="block sm:hidden md:block rotate-90 max-h-14">
  </div>
  <div class="h-full bg-white sm:col-span-2 px-6 py-4 rounded-2xl text-orange font-poppins flex items-center">
    <div class="flex-auto">
      <h2 class="text-xl">Receita</h2>
      <span class="text-xl font-bold">R$ {{ formataValor(definirSaldoTotal(listaTransacoes) - definirTotalDespesa(listaTransacoes)) }}</span>
    </div>
    <img src="seta-para-a-direita.png" class="block sm:hidden md:block -rotate-90 max-h-14">
  </div>
  <div class="h-full bg-white sm:col-span-6 md:col-span-3 px-6 py-4 rounded-2xl text-orange font-poppins">
    <h2 class="text-lg mb-1">Despesa por categoria</h2>
    <table class="w-full">
      <thead>
        <tr>
          <th class="text-left">Categoria</th>
          <th class="text-center">%</th>
          <th class="text-right">Despesa (R$)</th>
        </tr>
      </thead>
      <tbody *ngFor="let grupo of agruparTransacoesPorCategoria(listaTransacoes)">
        <tr>
          <td class="text-left">{{ grupo.categoria }}</td>
          <td class="text-center">{{ grupo.percentual.toFixed(2) }} %</td>
          <td class="text-right">{{ formataValor(grupo.valorTotal) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="h-full bg-white sm:col-span-6 md:col-span-3 px-6 py-4 rounded-2xl text-orange font-poppins">
    <h2 class="text-lg mb-1">Extrato</h2>
    <ul *ngFor="let transacao of listaTransacoes" class="text-xl grid gap-2" style="line-height: 1;">
      <li class="grid grid-cols-[auto_1fr_auto] items-center gap-2">
        <img [src]="transacao.tipoTransacao.startsWith('Despesa') ?
            'seta-para-a-direita (1).png' : 'seta-para-a-direita.png'"
          [class]="transacao.tipoTransacao.startsWith('Despesa') ? 
            'block sm:hidden md:block rotate-90 max-h-10' : 'block sm:hidden md:block -rotate-90 max-h-10'"
        >
        <div>{{ transacao.descricao }}<br *ngIf="transacao.categoria"><span *ngIf="transacao.categoria" class="text-sm">{{ transacao.categoria }}</span></div>
        <span class="font-semibold">R$ {{ formataValor(transacao.valor) }}</span>
      </li>
    </ul>
  </div>
</div>