<h1 class="font-anton text-4xl text-green-medium tracking-wider">Dashboard</h1>
<div class="grid grid-rows-2 grid-cols-12 gap-8 mt-6">
  <div class="bg-white col-span-4 px-6 py-4 rounded-2xl text-orange font-poppins flex flex-col items-start gap-1">
    <h2 class="text-xl">Saldo Atual</h2>
    <span class="text-xl font-bold">R$ 1.500,00</span>
  </div>
  <div class="bg-white col-span-4 px-6 py-4 rounded-2xl text-orange font-poppins flex items-center">
    <div class="flex-auto">
      <h2 class="text-xl">Total de Despesas</h2>
      <span class="text-xl font-bold">R$ 100,00</span>
    </div>
    <img src="seta-para-a-direita (1).png" class="rotate-90 max-h-14">
  </div>
  <div class="bg-white col-span-4 px-6 py-4 rounded-2xl text-orange font-poppins flex items-center">
    <div class="flex-auto">
      <h2 class="text-xl">Receita</h2>
      <span class="text-xl font-bold">R$ 1.600,00</span>
    </div>
    <img src="seta-para-a-direita.png" class="-rotate-90 max-h-14">
  </div>
  <div class="bg-white col-span-6 px-6 py-4 rounded-2xl text-orange font-poppins">D</div>
  <div class="bg-white col-span-6 px-6 py-4 rounded-2xl text-orange font-poppins">E</div>
</div>