<main class="bg-green-medium">
  <header class="border-b-2">
    <div class="max-w-screen-lg mx-auto">
      <div class="flex justify-between items-center px-6 py-2 md:px-12 md:py-4 lg:px-0">
        <h1 class="title-xl text-beige">POUPA</h1>
        <div class="flex text-nowrap gap-6">
          <button (click)="redirecionarCadastro()" class="btn font-poppins bg-[transparent_!important]">Cadastro</button>
          <button (click)="redirecionarLogin()" class="text-lg font-poppins font-semibold text-white rounded-bl-3xl bg-orange px-8 py-2">Login</button>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="max-w-screen-lg xl:max-w-screen-xl mx-auto">
      <div class="flex justify-between items-center px-6 py-12 md:px-12 md:py-16 lg:px-0 lg:py-18 relative">
        <img class="hidden absolute right-10 lg:block xl:right-20 bottom-0 h-[95%]" src="/teamwork.png">
        <div class="bg-beige rounded-t-3xl w-full py-8 px-16 md:py-8 md:px-18 lg:py-10 lg:px-10 xl:py-12 xl:px-20">
          <p class="text-5xl lg:text-6xl xl:text-7xl font-anton text-orange max-w-lg mb-6" style="line-height: 1.1;">TÁ LISO?<br>NÃO DORME NÃO!<br>VEM POUPAR COM O <span class="text-yellow">POUPA!</span></p>
          <button (click)="redirecionarLogin()" class="text-md lg:text-lg font-poppins font-semibold text-white rounded-bl-3xl font-poppins bg-green-light text-nowrap px-6 py-2">Entre e saiba mais!</button>
        </div>
      </div>
    </div>
    <div class="bg-beige max-w-full">
      <div class="max-w-screen-lg mx-auto grid lg:grid-cols-[auto_1fr] items-center justify-center">
        <div class="hidden lg:block px-6 py-12 md:px-12 md:py-16 lg:px-0 lg:py-18">
          <img class="max-w-[75%]" src="/business-report (3).png">
        </div>
        <div class="px-6 py-12 md:px-12 md:py-16 lg:px-0 lg:py-18">
          <div class="grid grid-cols-[auto_auto] grid-rows-3 font-anton text-6xl lg:text-7xl text-yellow">
            <div class="text-right bg-green-light px-4 py-2">POUPA</div>
            <div class="px-4 py-2">tempo</div>
            <div class="text-right px-4 py-2">POUPA</div>
            <div class="bg-green-light px-4 py-2">estresse</div>
            <div class="text-right bg-green-light px-4 py-2">POUPA</div>
            <div class="px-4 py-2">dinheiro</div>
          </div>
        </div>
      </div>
    </div>
  </main>
</main>
